# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Next.js Build Output
/.next/
/out/

# Production Build
/build

# Production Data Caches
.next-data-db

# Environment Variables (SENSITIVE)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel Instance
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE / System Files
.DS_Store
*.local
.vscode/

# Tooling Output (From your sidebar)
repomix-output.xml
